.container {
  background-color: var(--grey-999);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--white);
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 470px;
}

.loginForm h5 {
  margin-bottom: 24px;
}

.inputBox {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loginForm input {
  width: 100%;
}

.loginForm button {
  margin-top: 74px;
  width: 100%;
}

.signup {
  margin-top: 48px;
  display: flex;
  gap: 4px;
}

.signup span {
  color: var(--grey-200);
}

.signup a {
  color: var(--white);
}
