.container {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #858585;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  height: 300px;
  width: 400px;
}

.loginForm h3 {
  text-align: center;
}

.loginForm input {
  outline: none;
  margin: 10px 0;
  padding: 10px;
}

.signup {
  text-align: center;
  text-decoration: none;
}
