.caption {
  width: 234px;
  font-size: var(--font-size-caption-text);
  font-weight: var(--font-weight-caption-text);
  line-height: var(--line-height-caption-text);
  color: var(--crimson-500);
}
