.container {
  color: var(--white);
  height: 100%;
  display: flex;
  background-color: var(--grey-900);
}

.videoSection {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.videoBox {
  position: relative;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  background-color: var(--grey-800);
}

.avatar {
  display: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoBox video {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.actionBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  bottom: 0px;
  height: 80px;
  background-color: var(--grey-999);
}

.iconContainer {
  padding: 0px 20px;
  border-radius: 17px;
  border: 1px solid var(--grey-200);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 24px;
  color: var(--white);
  background-color: transparent;
}

.iconContainer:disabled {
  pointer-events: none;
  border: 1px solid var(--grey-500);
  color: var(--grey-500);
}

.iconContainer:hover {
  opacity: 0.8;
}

.link {
  font-size: 24px;
  background-color: transparent;
  width: 40px;
  height: 34px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.1s ease-in;
}

.link:hover {
  font-size: 30px;
  color: var(--primary-200);
}

.chatSection {
  width: 25%;
  max-width: 400px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  background-color: var(--primary-100);
}

.chatList {
  flex: 1 1 auto;
  color: black;
  list-style: none;
  padding: 10px;
  outline: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.inputContainer input {
  padding-left: 10px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
}

.inputContainer button {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--success-100);
  outline: none;
  border: none;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: var(--success-200);
}
