.header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-999);
  align-items: center;
  font-weight: bold;
}

.logo {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  height: 24px;
}

.btnBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hidden {
  display: none;
}
